body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f8f8f8;
}

th, td {
  padding: 0.5rem;
  text-align: left;
}

.text-green {
  color: green;
}

.text-red {
  color: red;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #ddd;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
